button.round {
    width: 25px;
    height: 25px;
    border: solid 1px #000000;
    border-radius: 100%;
    align-self: center;
}

button.update {
    border: solid 1px #000000;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
}

.current-city-icon {
    width: 100px;
    height: 100px;
    justify-self: left;
}

.other-city-icon {
    width: 50px;
    height: 50px;
    align-self: center;
}

.other-city-name {
    height: 25px;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    font-family: "Book Antiqua";
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-start: 2;
}

div.page {
    grid-column-start: 2;
    grid-column-end: 4;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    align-content: start;
}

div.additional-cities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

li.inner-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aquamarine;
    margin: 5px 0px;
    height: 25px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

div.beginning {
    display: grid;
    margin: 5px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

span.current-city-temperature {
    font-size: 48px;
    justify-self: right;
}

span.other-city-temperature {
    font-size: 24px;
    align-self: center;
}

div.current-city {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column-gap: 10px;
    margin: 5px;
    align-content: center;
}

.current-city-name {
    grid-column-start: 1;
    grid-column-end: 3;
}

div.weather-icons {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    align-self: center;
    justify-self: center;
}

.current-weather-list {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;
}

.other-city {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    margin: 5px;
}

.other-city-list {
    grid-column-start: 1;
    grid-column-end: 5;
}

div.favorite {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    grid-column-gap: 5px;
}

div.other-city-title {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.grid-element-right {
    justify-self: right;
}

.grid-element-center {
    justify-self: center;
}

.grid-element-left {
    justify-self: left;
}

.field-and-button {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-column-gap: 5px;
    justify-self: right;
    align-self: center;
}

span.point {
    font-weight: bold;
    justify-self: left;
}

span.value {
    justify-self: right;
}

img.update-button-mobile {
    display: none;
}

span.update-button-desktop {
    display: inline;
}

#fvr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 5px;
}

#example {
    display: none;
}
